body{
    background-image: url(img/fundo.png);
    margin-left: auto;
    margin-right: auto;
    width: 80em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    margin: 20px 50px 20px 50px;
    padding-bottom: 10%;
    background-color: #FFF;
    align-items: center;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h1{
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

p{
    font-size: 20px;
    margin-left: 2%;
}

/*Input contendo*/
.valorQuilo, .pratoTara, .pesoRefeicao{
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.pularlinha{
    word-break: break-word;
}

label{
    margin-left: 2%;
}

/*Botões*/
.button{
    margin: 1% 2% 5% 2%;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.styleButton{
    background-color: #01403A;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Resultado*/
.tela{
    margin-top: 5%;
    margin-left: 2%;
    font-size: 20px;
    
}




